<form action="" value="" class="variants" method="post">
  {% if has_variant %}
    <span class="variants-wrapper" {% if product.variants.size <= 1 %} style="display: none;" {% endif %}>
      <select id="variant-select" name="id" onchange="">
        {% for variant in product.variants %}
            <option value= "{{ variant.id }}"
              data_image_url= "{{ variant | image_url: 'small' }}"
              data_variant_compare_at_price= "{{ variant.compare_at_price }}"
              data_variant_price=" {{ variant.price | money }}">
              {{ variant.title }} {% if product_price %} {{ variant.price | money }} {% endif %}
            </option>
        {% endfor %}
      </select>
    </span>
  {% endif %}
  {% if product.variants.size <= 1 %}
    <span class="single-variant-price money"> {{ product.variants.last.price | money }} </span>
  {% endif %}

  {% if show_quantity_selector %}
    <span class="quantity-wrapper">
      <select id="quantity-select" name="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </span>
  {% else %}
      <input name="quantity" type="hidden" value="1"></input>
  {% endif %}

  {% if recharge_subscription %}
    <input id="interval_unit" name="properties[interval_unit]" type="hidden" value= "{{interval_unit}}"></input>
    <input id="interval_frequency" name="properties[interval_frequency]" type="hidden" value="{{interval_frequency}}"></input>
    <input id="recharge_subscription_id" name="properties[recharge_subscription_id]" type="hidden" value="{{recharge_subscription}}"></input>
  {% endif %}
    <input id="form-value" type="submit" name="add" class="bttn accept-offer product-price" value= "{{ button_text }}"></input>
</form>